<%= javascript_include_tag '/javascripts/tab.js' %>
<%= javascript_include_tag '/javascripts/jquery.js'%>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
<style>
.pa{
width:100%;background:url(/images/blog/3.jpg);
background-position:center top;
background-repeat:no-repeat;
background-size:cover;height:350px;
}
.pb{
width:100%;background:url(/images/blog/2.jpg);
background-position:center top;
background-repeat:no-repeat;
background-size:cover;height:350px;
}
.pc{
width:100%;background:url(/images/blog/1.jpg);
background-position:center top;
background-repeat:no-repeat;
background-size:cover;height:350px;
}
.pd{
width:100%;background:url(/images/blog/4.jpg);
background-position:center top;
background-repeat:no-repeat;
background-size:cover;height:350px;
}
</style>


  <div class="tab-pane pb" id="profile">
    <div class="tab-pane active pb" id="home" align="center" >
  <div class="dtable-cell hw100">
  <div class="container text-center">
  <br><br>
<h1 class="intro-title animated fadeInDown" style="color:white;font-size:35px;line-height:1.2;"> Get brief answers for your legal queries. It's Free</h1>
<div class="row search-row animated fadeInUp">
<div class="col-lg-8 col-sm-8 search-col relative locationicon">

<form action="/ask" method="get">

<textarea rows="3" style="resize:none" cols="80" type="text" name="ques" id="autocomplete-ajax" class="form-control locinput input-rel searchtag-input has-icon" placeholder="Ask your Queries..." value="">
</textarea>
</div>

<div class="col-lg-4 col-sm-4 search-col">
<button type="submit" class="btn btn-primary btn-search btn-block"><i class="fa-search fa"></i><strong>Ask</strong></button>
</div>

</form>

</div>
</div>
</div>


</div>
</div>
<div class="page-bottom-info">
<div class="page-bottom-info-inner">
<div class="page-bottom-info-content text-center">
<h1>If you have any questions, comments or concerns, please contact Us at aqfaridi[at]gmail[dot]com</h1>
<a class="btn  btn-lg btn-primary-dark" href="tel:+000000000">
<i class="icon-mobile"></i> <span class="hide-xs color50">Call Now:</span> (91) 8964090175 </a>
</div>
</div>
</div>
